body {
  background-color: #008080;
  margin: 0;
}

nav {
  width: 100vw;
  border-bottom: 2px solid black;
  background-color: #C0C0C0;
  margin-bottom: 10px;
}
.nav-element {
  padding: 3px 8px;
  width: max-content;
  min-width: 100px;
  font-weight: bold;
  display: inline-block;
  margin: 5px;
}

.window {
  min-width: min-content;
  max-width: max-content;
}

fieldset {
  margin-bottom: 7px;
}

.field-border {
  font-size: 1.25rem;
  padding: 20px;
}

.master-question-list {
  margin: 0;
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.question-list {
  list-style-type: lower-latin;
}
