@import 'kern-typ/kern.css';

html {
  display: table;
  margin: 0 auto;
  background-color: #008080;
}

body {
  display: table-cell;
  vertical-align: middle;
  width: 100vw;
  max-width: 800px;
  background-color: #202020;
  color: #c5c5c5;
  padding: 0 1em;
}

.QuestionSet {
  display: flex;
}
