@import 'kern-typ/kern.css';

html {
  display: table;
  margin: 0 auto;
  background-color: green;
}

body {
  display: table-cell;
  vertical-align: middle;
  width: 100vw;
  max-width: 800px;
  background-color: white;
  padding: 0 2em 0 1em;
}

.QListOuter {
  column-width: 200px;
  column-gap: 4em;
}

li {
  break-inside: avoid-column;
}

.QListInner {
  list-style-type: lower-latin;
}

.ButtonPanel {
  margin-bottom: 1em;
}

.Answer {
  display: flex;
  justify-content: flex-end;
  color: green;
}

.AnswerInvisible {
  visibility: hidden;
}
