body {
  background-color: #008080;
}

fieldset {
  margin-bottom: 7px;
}

.window {
  width: min-content;
}

.question-list {
  margin-right: 15px;
}

.field-border {
  font-size: 1.25rem;
}

.question-field {
  display: flex;
}
