:root {
  --highlight:        #d7834f;
  --background:       #2a2a2a;
  --main-bg:          #333333;
  --main-border:      #5e5e5a;
  --font-color:       #b3b1b1;
  --light-font-color: #bdbbb0;
  --nav-link-color:   #979594;

  --graph-1: #008080;
  --graph-2: #43509E;
  --graph-3: #DC267F;
  --graph-4: #FE6100;
  --graph-5: #FFB000;
}

body {
  background-color: var(--background);
  color: var(--font-color);
  font-family: Adelle,Roboto Slab,DejaVu Serif,Georgia,Times New Roman,sans-serif;
  width: 940px;
  margin: 0 auto;
}

div#sidebar-and-main {
  display: flex;
}

main {
  background-color: var(--main-bg);
  border: solid 1px var(--main-border);
  padding: 22px;
  width: 670px;
}

nav#sidebar {
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  margin-right: 20px;
  min-width: 250px;
}

ul {
  list-style: none;
  padding-left: 25px;
  margin-bottom: 1.4em;
}

a {
  text-decoration: none;
  color: var(--highlight);
}

nav#sidebar > ul {
  padding-left: 0;
}

nav#sidebar details {
  font-size: 13px;
  font-weight: 400;
}

nav#sidebar a {
  transition-duration: .3s;
  transition-property: color;
  background-color: initial;
  color: var(--nav-link-color);
}

nav#sidebar :is(a.active,a:hover) {
  color: var(--highlight);
}

header {
  padding: 1rem 0;
  display: grid;
  grid-template-areas: "logo tagline";
  grid-template-columns: auto 1fr;
  align-items: center;
}

header #logo {
  grid-area: logo;
}

header #tagline {
  grid-area: tagline;
  margin-left: .8em;
  font-size: clamp(.8rem,2vw,1.3rem);
  color: var(--light-font-color);
}

fieldset {
  margin-bottom: 7px;
  border: solid 1px var(--main-border);
}

button {
  background-color: var(--background);
  border: solid 1px var(--main-border);
  color: var(--font-color);
}

textarea {
  background-color: var(--background);
  border: solid 1px var(--main-border);
  color: var(--font-color);
  width: 100%;
}

.field-border {
  font-size: large;
  padding: 20px;
  margin-top: 20px;
  background-color: white;
  color: black;
  border: solid 8px var(--highlight);
}

ol.master-question-list {
  font-family: KaTeX_Main;
  margin: 0;
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

ol.question-list {
  list-style-type: lower-latin;
}

button {
  margin-right: 3px;
}

img.http-error {
  max-width: 400px;
}
