body {
  background-color: #008080;
}

.window {
  min-width: min-content;
  max-width: max-content;
}

fieldset {
  margin-bottom: 7px;
}

.field-border {
  font-size: 1.25rem;
  padding: 20px;
}

.master-question-list {
  margin: 0;
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.question-list {
  list-style-type: lower-latin;
}
