path,polygon,line,polyline,circle,ellipse {
  stroke-width: 0.06;
  stroke-linejoin: round;
  stroke-linecap: round;
  fill-opacity: 0;
}

polygon {
  fill-opacity: 0.5;
}

path#grid {
  stroke: black;
  stroke-width: 0.01;
}

path.axis {
  stroke: black;
  stroke-width: 0.08;
  stroke-linecap: butt;
}

polygon#arrowhead {
  fill-opacity: 1;
}

text {
  font-size: 0.02em;
  stroke: white;
  stroke-width: 0.03;
  paint-order: stroke;
}

.color-1 {
  fill: var(--graph-1);
  stroke: var(--graph-1);
}
.color-2 {
  fill: var(--graph-2);
  stroke: var(--graph-2);
}
.color-3 {
  fill: var(--graph-3);
  stroke: var(--graph-3);
}
.color-4 {
  fill: var(--graph-4);
  stroke: var(--graph-4);
}
.color-5 {
  fill: var(--graph-5);
  stroke: var(--graph-5);
}
