path,polygon,circle,ellipse,line,polyline {
  stroke: #066;
  stroke-width: 0.06;
  stroke-linejoin: round;
  stroke-linecap: round;
  fill: transparent;
}

polygon {
  fill: #0668;
}

path#grid {
  stroke: black;
  stroke-width: 0.01;
}

path#axes {
  stroke: black;
  stroke-width: 0.08;
  stroke-linecap: butt;
}

path#arrowhead {
  stroke: black;
  fill: black;
}

text {
  font-size: 0.02em;
  stroke: white;
  stroke-width: 0.03;
  paint-order: stroke;
}

.color-1 {
  fill: var(--graph-1);
  stroke: var(--graph-1);
  fill-opacity: 0.5; 
}
.color-2 {
  fill: var(--graph-2);
  stroke: var(--graph-2);
  fill-opacity: 0.5;
}
.color-3 {
  fill: var(--graph-3);
  stroke: var(--graph-3);
  fill-opacity: 0.5;
}
.color-4 {
  fill: var(--graph-4);
  stroke: var(--graph-4);
  fill-opacity: 0.5;
}
.color-5 {
  fill: var(--graph-5);
  stroke: var(--graph-5);
  fill-opacity: 0.5;
}